@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 64px;
  background: #ecf4ff;
  color: #1c1c1c;
  border-radius: 20px;
  padding: 64px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.titulo h1 {
  font-size: 36px;
  font-weight: 700;
}

.perfil {
  display: flex;
  margin-bottom: 20px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.tema button {
  align-self: flex-end;
  font-size: 16px;
  padding: 8px 16px;
  background: #ecf4ff;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #0e1d2f;
}

.fotografia {
  max-width: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 460px;
}

.titulo {
  margin-left: 16px;
}

.titulo h3 {
  font-weight: normal;
  font-size: 24px;
}

.projetos {
  max-height: 500px;
  overflow-y: scroll;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  padding: 5px 32px;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  margin-left: -80px;
}

.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6887a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}